<h1>Hello, world!</h1>
<div>
    <input type="text" @bind-value="@message" />
    <input type="text" @bind-value="@message2" />
    <input type="button" value="Haga click" @onclick="ChangeText" />
</div>

@code{
    string message = "Mensaje";
    string message2;
    public void ChangeText()
    {
        message2 = message;
    }
}
